

label {
   color: #FFFFFF;
}

body {
  background: #0b1622;
  margin-top: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
    margin-top: auto;
}

h1, h2, h4 {
  color: #576CBC;
}

h6 {
    color: #576CBC;
    margin: 0;
}

h3 {
    color: #FFFFFF;
}
h5 {
    color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

ul {
  margin: 0;
}

.bg-blue {
  background-color: #152232;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.navic {
    padding-right: 15px;
    padding-left: 15px;
}

.navright {
    padding-right: 8px;
    padding-left: 8px;
}

.badge {
    font-size: .60em;
}
.content-set {
    color: #83a0b2;
}
.title-set {
    color; #FFFFFF;
}
.card-title {
    color: #FFFFFF;
}


.card-c {
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-body {
     background-color: #152232;
}
.anchor {
    color: #FFFFFF;
}

.comment-c {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
}

.side-b {
    background-color: #152232;

}

.side-c {
    color: #FFFFFF;
}

.side-d {
    margin-top: 10px;
    background-color: #152232;

}

.guide-bar {
    background-color: #152232;
}
.guide-bar-a {
    padding-bottom: 30px;

}



.footer-a {
    background-color: #11161d;
}
.footer-b {
    color: #FFFFFF;
}

.banner {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1590273466070-40c466b4432d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3JlZW4lMjBmb3Jlc3R8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    height: 400px;
    z-index: -1;
    bottom: 20px;
}



.banner-post {
    background-image: url("https://img.freepik.com/free-vector/whale-swims-deep-space-illustration_33099-2027.jpg?w=1480&t=st=1681653631~exp=1681654231~hmac=e072a69c964879fe02d0fd8fcd6ff6b8a93e105dddffd4666649306b6a57093c");
    position: relative;
    height: 500px;
    background-size: cover;
    filter: grayscale(85%);
    z-index: -1;
    bottom: 20px;
}
}
.banner-post-inside {

}

.image-banner {
    height: 400px;
    width: 100%;
    object-fit: cover;
    opacity: 0.85;
}
.prof-pic {
    height: 320px;
    width: 320px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #000000;
    position: absolute;
    top: 400px;
    left: 350px;
    z-index: 1;
}
.pic-pos {
    padding-left: 150px;
    padding-right: 150px
    padding-bottom: 600px;
    position: absolute;
    top: 320px;
    left: 350px;
    z-index: 1;
}
.prof-contents {
    padding-top: 240px;
}

.desc {
    left: 660px;
    position: absolute;
    z-index: 1;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 415px;
}
.desc-name{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    text-align: left;
}
.desc-title{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    text-align: left;
}
.desc-comment{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.buttns-a {
    position: absolute;
    right: 140px;
}

.buttns-b {
    position: absolute;
    right: 30px;
}

.prof-contents {
    position: relative;

}

.site-name {
    text-align: center;
    padding-top: 6px;
    padding-left: 30px;
    margin-right: 0px;
}


.navcont {
    padding-right: 0;
}

.search-bar {
    padding-right: 30px;
}

.landing-right {
    padding-right: 50px;
}

.form-signup {
    background-color: #0b1622;
    color: #ffffff;
    height:50px;
}


.form-back {
    padding: 50px 50px 125px 50px;
    background-color: #152232;
}
.form-back-login {
    padding: 50px 50px 40px 50px;
    background-color: #152232;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 0.5; /* Firefox */
}
.form-control:focus {
    color: #ffffff;
    background-color: #152232;
    }

.form-heading {
    text-align: center;
}

.div-form {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-submit {
    padding-top: 20px;
    text-align: center;
}

.Warning-message {
    text-align: center;
    padding: 10px 10px 10px 10px;
}



.post-content {
    padding: 50px 50px 50px 50px;
    background-color: #152232;

}
.post-title {
    position: relative;
    z-index: 0;
    bottom: 400px;

}
.post-title-head {
    padding-top: 15px;
    padding-bottom: 15px;
}
.post-comment {
    background-color: #0b1622;
}
.post-comment-cont {
    position: relative;
    bottom: 320px;
    z-index: 0;
}
.post-comment-text {
    padding-left: 50px;
    padding-right: 50px;
}

.comment-c-p {
    padding-right: 50px;
    padding-left: 50px;
}

.create-acc {
    padding-top: 50px;
    font-size: 1.5rem;
}