{% extends "blog/base.html" %}
{% block content%}
<div class="container">
<div class="container">
    <div class="row">
    <!--LEFT COLUMN-->
        <div class="col-8">
        <!--Following Posts-->
            <div class="container">
              <div class="row">
                  <div class="col-sm-8">
                      <div class="p-2 bd-highlight align-middle"><h6><button type="button" class="btn btn-link text-decoration-none info-link anchor user-name">Recent Activity</button></h6></div>
                  </div>
                <div class="col-sm-4">
                    <div class="d-flex flex-row-reverse bd-highlight ">
                        <div class="p-2 bd-highlight align-middle"><h6><button type="button" class="btn btn-link text-decoration-none info-link anchor user-name">Global</button></h6></div>
                        <div class="p-2 bd-highlight align-middle"><h6><button type="button" class="btn btn-link text-decoration-none info-link anchor user-name">Following</button></h6></div>
                    </div>
                </div>
              </div>
            </div>
        <!--Following Posts-->
        <!--Recent Posts-->
            {% for post in posts %}
                <div class="container card-c">
                <div class="card border-0">
                  <div class="card-body border-0">
                    <h3 class="title-set">{{ post.title }}</h3>
                    <!--User Details-->
                    <p class="content-set">By <img
                                src="https://i.pinimg.com/originals/dc/29/1d/dc291d1ac415ebbaa368ecb7157d3f8b.jpg"
                                class="rounded-circle prof-image"
                                height="35"
                                alt="Black and White Portrait of a Man"
                                loading="lazy"
                                > <a class="user-name text-decoration-none info-link" href="">{{ post.author }}</a> on {{ post.date_posted }} </p>
                <!--Content post-->
                    <p class="content-set"> {{ post.content }}</p>
                  </div>
                </div>
                </div>
            {% endfor %}
        </div>
    <!--LEFT COLUMN-->
    <!--RIGHT COLUMN-->

        <div class="col-4">
            <!--Side Bar-->
                <div class="col">
                  <div class="content-section side-b border-0">
                    <h3>Our Sidebar</h3>
                    <h5 class='side-c'>You can put any information here you'd like.</h5>
                      <ul class="list-group guide-bar-a">
                          <li class="list-group-item list-group-item-dark guide-bar"><button type="button" class="btn btn-link text-decoration-none info-link user-name anchor">Create Post</button></li>
                        <li class="list-group-item list-group-item-dark guide-bar"><button type="button" class="btn btn-link text-decoration-none info-link user-name anchor">Edit Posts</button></li>
                        <li class="list-group-item list-group-item-dark guide-bar"><button type="button" class="btn btn-link text-decoration-none info-link user-name anchor">Announcements</button></li>
                        <li class="list-group-item list-group-item-dark guide-bar"><button type="button" class="btn btn-link text-decoration-none info-link user-name anchor">Etc</button></li>
                      </ul>
                  </div>
                </div>
            <!--Side Bar-->
        <!--Feature title-->
            <div class="container">
              <div class="row">
                      <div class="p-2 bd-highlight align-middle"><h6><button type="button" class="btn btn-link text-decoration-none info-link anchor user-name">Forum Activity</button></h6></div>
              </div>
            </div>
            {% for com in comments %}
            <div class="container comment-c">
                <div class="card border-0">
                  <div class="card-body border-0">
                      <!--Content post-->
                    <p class="content-set">{{ com.comment }}</p>

                    <!--User Details-->
                    <p class="content-set"><img
                                src="https://i.pinimg.com/originals/dc/29/1d/dc291d1ac415ebbaa368ecb7157d3f8b.jpg"
                                class="rounded-circle prof-image"
                                height="35"
                                alt="Black and White Portrait of a Man"
                                loading="lazy">
                    <!--commented(preview) by and time ago-->
                                 <a class="user-name text-decoration-none info-link" href="">{{ com.author }}</a> commented 2 minutes ago</p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--RIGHT COLUMN-->
</div>
</div>
<!--Recent Posts-->
{% endblock content %}



