{% extends "blog/base.html" %}
{% block content%}
<!--Profile Banner-->
<div class="banner">
<!--<img src="https://static.wikia.nocookie.net/aesthetics/images/c/cd/Fantasy_World.jpg/revision/latest?cb=20201122150254" class="image-banner" alt="banner-pic">-->
</div>

<img src="https://dthezntil550i.cloudfront.net/nb/latest/nb1802122039545770004284813/1280_960/890cab1b-153f-44fd-921d-7e0b55d6e5c5.jpg" class="prof-pic">

<div class="container prof-contents">
    <h1>Hellooo World</h1>
</div>
{% endblock content %}