{% extends "blog/base.html" %}
{% block content%}
<!--Profile Banner-->
<div class="banner">
<!--<img src="https://static.wikia.nocookie.net/aesthetics/images/c/cd/Fantasy_World.jpg/revision/latest?cb=20201122150254" class="image-banner" alt="banner-pic">-->
</div>

<img src="https://dthezntil550i.cloudfront.net/nb/latest/nb1802122039545770004284813/1280_960/890cab1b-153f-44fd-921d-7e0b55d6e5c5.jpg" class="prof-pic">

<div class="desc w-50">
    <h3 class="desc-name">Clyde Bryon Catap</h3>
    <h4 class="desc-title">Software Engineer</h4>
    <h6 class="content-set desc-comment"><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"</em></h6>
</div>
<div class="container prof-contents">

    <h1>Hellooo World</h1>
</div>
{% endblock content %}