{% extends "blog/landing.html" %}
{% block content%}



<div class="container w-25 form-back">
    {% if messages %}
      {% for m in messages %}
    <div class="Warning-message">
    <h5>{{ m }}</h5>
    </div>
      {% endfor %}
    {% endif %}
    <h3 class="form-heading"> Sign up to ChatBlog</h3>
    <br><br><br>
    <form method="POST" action="{% url 'blog-signup' %}">
      {% csrf_token %}
      <div class="mb-3 div-form">
        <input type="text" class="form-control form-signup border-0" placeholder="User Name" name="username">
      </div>
      <div class="mb-3 div-form">
        <input type="text" class="form-control form-signup border-0" placeholder="First Name" name="firstname">
      </div>
      <div class="mb-3 div-form">
        <input type="text" class="form-control form-signup border-0" placeholder="Last Name" name="lastname">
      </div>
      <div class="mb-3 div-form">
        <input type="email" class="form-control form-signup border-0" aria-describedby="emailHelp" placeholder="Email" name="email">
      </div>
      <div class="mb-3 div-form">
        <input type="password" class="form-control form-signup border-0" placeholder="Password" name="password">
      </div>
        <div class="form-submit">
      <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>





{% endblock content %}